*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;

}
html {
  scroll-behavior: smooth;
}

:root {
  --rot-color: #E41D36;
  --text-color: #222;  
}

@keyframes slideInUp {
  0% { /* Начальный кадр */
    transform: translateY(100%); /* Текст сдвинут вниз (извне экрана) */
    opacity: 0; /* Текст невидимый */
  }
  100% { /* Конечный кадр */
    transform: translateY(0); /* Текст на своем месте */
    opacity: 1; /* Текст видимый */
  }
}

.animated-text {
  position: relative; /* Это позволяет использовать absolute позиционирование внутри */
  animation: slideInUp 1.5s forwards; /* Запускает анимацию */
}


.container {
        max-width: 1140px;
        margin: 0 auto;
    }

header{
   min-height: 870px;
   background: url('img/frame69.png') center center/cover no-repeat;
   padding: 20px 0 50px 0 ;
} 
header .wrap_header_1 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
}
.logo_header{
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 49px;
letter-spacing: -0.05em;
color: #FFFFFF;

}
.logo_subheader{ 
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 2px;
letter-spacing: -0.05em;
color: #FFFFFF;


}


header .menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 570px;
   list-style-type: none;}
   
.menu .menu_link {
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
} 
.hamburger{
   position: absolute;
   top: 20px;
   right: 30px;
   height: 21px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.hamburger span{
   display: block;
   width: 30px;
   height: 3px;
   background: #fff;
   align-items:flex-end; 
   cursor: pointer;
}


.hamburger span .long{
   width: 36px;
   height: 3px;
   background: #fff; 
}

header .phone {
   margin-top: 10px;
   display: flex;
   justify-content: flex-end;
   align-items: center;   
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
  
}
.schedule{
   margin-top: 4px;
   font-weight: 300;
   font-size: 18px;
   /* line-height: 22px; */
   color: #FFFFFF;
}

h1{
   
margin-top: 130px; 
font-style: normal;
font-weight: 700;
font-size: 47px;
line-height: 54px;
letter-spacing: -0.05em;
color: #FFFEFE;

}

.text_fz21{
margin-top: 23px; 
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 125%;
color: #FFFDFD;
}

.text_fz16{ 
   margin-top: 51px;  
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 150%;
   color: #FFFDFD;
}
.wrap_header2{
   width: 835px;
}

.header_btn{
   margin-top: 12px;
   margin-left: 27px;
   width: 283px;
   height: 58px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #E41D36;
   border-radius: 50px;
   border: none;
   font-weight: 500;
   font-size: 18px;
   line-height: 18px;
   color: #FFFBFB;
   cursor:pointer ;
}

.wrap_header3{
   margin-top: 75px;
   display: flex;
   justify-content: space-around;
   align-items:baseline;

}
.header_item{
   position: relative;
   width: 325px;
}
.header4{
   font-style: normal;
   font-weight: 600;
   font-size: 21px;
   line-height: 150%;
   color: #FFFDFD;
}
.header4:before{
   content: '';
    display: block;
    position: absolute;
    left: -30px;
    top: 37%;
    transform: translateY(-50%);
    width: 23px;
    height: 23px;
    background: url('img/group59.png') center center/cover no-repeat;

}
.subheader4{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 109%;
color: #FFFDFD;
}

h2{ 
   margin-top: 100px;  
   font-style: normal;
   font-weight: 700;


   font-size: 38px;
   color: #000000;
   text-align: center;
}

.services_all{  
   display: flex;
   justify-content: space-between;
   margin-top: 45px;
}
.wrap_services{
   width: 360px;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
}
.services_title, .prices_title{
   margin-top: 31px;   
   font-weight: 600;
   font-size: 24px;
   line-height: 31px;
   text-align: center;
   color: #000000;
}
.services_subtitle{
   margin-top: 8px; 
   font-weight: 400;
   font-size: 18px;
   line-height: 19px;
   text-align: center;
   color: #000000;
}

/* кнопки */
.services_btn, .contact_btn{          
   margin-top: 20px;   
   padding: 20px 25px;
   background: #E41D36;
   border-radius: 90px;
   color:#FFFFFF;
   border:none;
   font-size: 20px;
   cursor: pointer;
   text-decoration: none;

}
.wrap_order{
   margin-top: 46px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;

}
.wrap_order_item1 { 
   margin-top: 20px;  

   width: 262px;
   height: 170px;
   background: #E7E7E9;
   border-radius: 25px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.wrap_order_item2 { 
   margin-top: 20px; 

   width: 262px;
   height: 170px;
   background: #E41D36;
   border-radius: 25px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;

}
.wrap_order_item3 { 
   margin-top: 20px; 

   width: 262px;
   height: 170px;
   background: #000;
   border-radius: 25px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;

}
.order_num{   
font-weight: 700;
font-size: 40px;
line-height: 40px;
color: #3A3A3A;
}

.order_num2{   
font-weight: 700;
font-size: 40px;
line-height: 40px;
color: white;
}
.order_descr{
   margin-top: 8px;
}
.wrap_portfolio{
   margin-top: 45px;
   display: grid;
   grid-template: repeat(3, 360px)/ repeat(3, 360px);
   grid-auto-rows: 360px;
   gap: 40px;

}

.prices_descr, .gua_descr{
   text-align:center;   
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 40px;
   color: #000000;
   margin-top: 6px;
}

.gua_item{
   margin-top: 80px;
   padding: 40px 0;
   height: 881px;
   background: #343434;
   border-radius: 25px;

}

.text_w{
   margin-top: 50px;
   line-height: 40px;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   text-align: center;
   color:#FFFFFF
}
.text_r {
   color: var(--rot-color);
}
.gua_descr {
   color:#FFFFFF
}
.gua_wrap{
   margin-top: 52px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   
}
.gua_wrap_icon{
   display: flex;
   flex-direction: column;
   align-items:center;
}
.gua_wrap_item_it{
   width: 506px;
   margin-top: 27px;
   margin-bottom: 71px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}


.gua_icon{
   display: flex;
   justify-content: center;
   align-items:center;
   width: 110px;
   height: 104.83px;
   background: #E41D36;
   border-radius: 20px;
}


.gua_ic_desc{ 
margin-top: 18px;  
font-weight: 300;
font-size: 21px;
line-height: 25px;
color: #FFF2F2;
text-align: center;
}

.wrap_team{
   margin-top: 50px;
   display: grid;
   grid-template: repeat(2, 298px)/repeat(2, 560px);
   grid-auto-rows: 560px;
   gap: 20px;
}
.wrap_team_it{
background: #F1F2FA;
border-radius: 25px;
display: flex;
justify-content: space-between;

}

.team_img_it{
   margin-top: 61px;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 32px;
}

.team_text_fZ21{
   font-weight: 700;
   font-size: 22.5126px;
   line-height: 27px;
   color: #3A3A3A;
   }
.team_text_prof{
   margin-top: 30px;
   padding: 6px 12px;
   background: #E41D36;
   border-radius: 5px;
   color: #FFFFFF;
}



.reasons_bg{ 
   margin-top: 100px;  
   background: url("img/bg_reasons.png") center center/cover no-repeat;   
   border-radius: 25px;
   height: 586px;
   padding: 65px 0 98px 0;

}
.text_w{
    margin-top: 15px;
}

   
.wrap_reas{
   margin-top: 30px;
   display: flex;
   justify-content:space-around;
   align-items: baseline;
   flex-wrap: wrap;
}
.wrap_reas_it{
   padding: 30px 35px;
   width: 300px;
   height: 300px;
   background: #FFFFFF;
   border-radius: 25px;
}
.wrap_reas_it1{
   display: flex;
   justify-content: space-around;
}
.wrap_reas_it2{  
   margin-top: 32px; 
   font-weight: 400;
   font-size: 12px;
   line-height: 13px;
   color: #000000;
}

.wrap_reas_text_fz14{   
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: #000000;
}

.wrap_reas_text_fz12{
   margin-top: 6px;
   width: 100px;
   font-weight: 600;
   font-size: 12px;
   line-height: 14px;
   color: #000000;
}
.contact{
   margin-top: 100px;
   min-height: 900px;
   padding-top: 50px;
   background: #F5F5F5;
   padding-bottom: 50px;

}
.contact_wrap_item{
   display: flex;
   justify-content:space-around;
   align-items:center;
   flex-wrap: wrap;


}
.contacts_nav{
   display: flex;
   flex-direction: column;

}

.order-form {
  margin-top: 48px;
  width: 440px;
}

::placeholder {
  color: #bbbbbb;
}
.order-form input, textarea {
  width: 100%;
  height: 58px;
  padding: 24px 20px;
  box-sizing: border-box;
  color: #000;
  border: 1px solid #000;
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 18px;
  /* outline: none; */
  border-radius: 25px;
}
.text_fZ32{   
font-weight: 700;
font-size: 30px;
line-height: 40px;
color: #000000;
}
.contact_phone{
   
font-weight: 700;
font-size: 24px;
line-height: 40px;
color: #000000;
}
.address{   
font-weight: 400;
font-size: 24px;
line-height: 40px;
color: #000000;
}
.wrap_social{
   margin-top: 22px;
}


.social_item{
   margin-right: 17px;
   color: #000;
   font-size: 32px;
}
.contact_policy{
   margin-top: 15px;
   display: flex;
   justify-content: space-around;
}
.contact_policy input{
   width: 15px;
   padding: 0 5px;
}
.policy_text{
   margin-top: 20px;
}

.wrap_footer{
   padding-top: 60px;
   background-color: #343434;
   height: 190px;  
}
.wrap_footer_item{   
   /* margin-top: 64px; */
   display: flex;
   justify-content: space-between;
   align-items:center;
}
footer a {
   color:#fff;
   text-decoration: none;
}

footer .phone{
  
font-weight: 700;
font-size: 21px;
line-height: 24px;
color: #FFFFFF;
}




@media (max-width: 1200px){
   .container {
      max-width: 960px;
   }
   .menu .menu_link{
      font-size: 15px;
   }
   header .menu{
      width: 350px;
   }
   /* 2 section */
   .services_all{
      flex-wrap: wrap;
   } 
   .wrap_services{
      margin-top: 50px;
   }
    /* 3 section */
    .wrap_portfolio {
       grid-template: repeat(4, 360px) / repeat(2, 360px);
    grid-auto-rows: 360px;
   
  }
  /* 5 section */
  .wrap_team{
   grid-template: repeat(4, 298px) / repeat(1, 560px);
    grid-auto-rows: 560px;
  }

}
.overlay {
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   background-color: rgba(0, 0, 0, 0.56);   
}
.modal{
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
   width: 521px;
   min-height: 521px;
   background-color: #f2f2f2;
   padding: 40px 40px 40px 40px;
}
.modal__close{
   position: absolute;
   top: 0;
   right: -30px;
   font-size: 40px;
   line-height: 30px;
   color:#fff;
   cursor: pointer;
}
.modal__subtitle{
   color: #000;
   font-size: 30px;
   font-weight: 700;
   text-align: center;
}
.modal__descr{
   margin-top: 10px;
    color: #000;
   font-size: 16px;
   font-weight: 300;
   text-align: center;
}
.modal_mini{
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
   width: 521px;
   background-color: #f2f2f2;
   padding: 40px 40px 40px 40px;
   min-height: 140px;
}

.fead-form .fead-form__mt25{
   margin-top: 25px;
}
#consultation, #order, #thinks {
   display: none;
}
.carousel{
   padding: 80px 0;
}


@media (max-width: 992px){
  .container {
      max-width: 720px;
   }
         header .menu {
            display: none;
         }
   

   /* header .menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh; 
      padding: 20px 15px; 
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items:center;
      transition: 0.6s all;
      z-index: 2;
   }

   .menu_active {
      left: 0;      
   } */

   /* header .menu_item{
      padding-right: 0;
      border:none;
      margin-top: 10px;
      z-index: 0;
   }
   .menu .menu_link{
      font-size: 20px;
   } */


    h1{
      line-height: 50px;
      font-size: 47px;
      width: 670px;
   }

   .text_fz21{
      width: 670px;
   }
   .wrap_header3{
      margin-top: 40px;
      flex-direction: column;
      padding-left: 30px;
   }
   .header_item{
      margin-top: 15px;
   }
   .header4{
          line-height: 160%;
   }
   /* 2 section */

   .wrap_services{
      margin-right: 20px;
   }
   /* 3 section */
   .gua_item{
      height: 1301px;
   }
   /* 6 section */
   .reasons_bg {
          height: 854px;
   }
   .address{
      font-size: 18px;
   }

}



@media (max-width: 767px){
   .container {
      max-width: 540px;
   }

   .wrap_header3{
      margin-top: 40px;
      flex-direction: column;
      padding-left: 30px;
   }

    h1{
      line-height: 46px;
      font-size: 40px;
      width: 650px;
   }
   .text_fz21{
      width: 600px;
   }
    .header_item{
      margin-top: 15px;
   }
   /* 3 section */
   .wrap_portfolio {
       grid-template: repeat(9, 360px) / repeat(1, 360px);
    grid-auto-rows: 360px;
     
  }

  /* 6 section reasons*/
   .reasons_bg {
          height: 1160px;
   }

   .contact_items{
      margin-top: 10px;
   }
   .contact{
    height: 960px;
   }
  
}


@media (max-width: 576px){
    .container {
      width: 100%;
      padding: 0 10px;
   }
   h1{
      line-height: 46px;
      font-size: 40px;
      width: 300px;
   }
   .text_fz21{
      width: 300px;
   }
   .text_fz16{
      font-size: 15px;
      margin-top: 30px;
      width: 300px;
   }
   .wrap_header3{
      margin-top: 40px;
      flex-direction: column;
      padding-left: 30px;
   }
   .header_item{
      margin-top: 15px;
   }
   .header4{
          line-height: 160%;
   }
   .header_btn {
          margin-left: 10px;
   }
   .schedule{
      font-size: 15px;
   }
   /* 2 section */

   .wrap_services img{
      width: 300px;
   }

   /* 3 section */
   .text_w{
      font-size: 30px;
   }
   .gua_wrap_item_it {
      width: 320px;
   }

   .gua_agrem img{
      width: 310px;
   }
   .wrap_reas_it{
      width: 280px;
      height: 280px;
   }
   .order-form {
      width: 300px;
   }
   .contact{
      height: 1130px;
      }

   /* footer */
   footer .phone{
         font-size: 18px;
   }

}


   







